<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="theme-color" content="{{ site.color }}">

  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:image" content="{{ site.url }}/img/{{ page.image }}">
  <meta property="og:site_name" content="{{ site.title }}">
  <!--meta property="og:description" content="This article will talk about tags"-->

  {% if paginator.previous_page %}
  <link rel="prev" href="{{ site.url }}{{ paginator.previous_page_path }}">
  {% endif %}
  {% if paginator.next_page %}
  <link rel="next" href="{{ site.url }}{{ paginator.next_page_path }}">
  {% endif %}
  <link rel="canonical" href="{{ site.url }}{{ page.url }}">
  <link rel="stylesheet" href="/assets/css/style.css">
  <script defer src="/assets/js/all.js"></script>
  <title>{{ page.title }} | {{ site.title }}</title>
</head>