<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="theme-color" content="{{ site.color }}">
  <meta name="yandex-verification" content="e75f0ae0a25e0ad4">

  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:image" content="{{ site.url }}/img/{{ page.image }}">
  <meta property="og:site_name" content="{{ site.title }}">
  <meta name="description" content="{% if page.description %}{{ page.description }}{% elsif page.layout == 'post' %}{{ page.content | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  {% if page.date %}
  <meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}">
  {% endif %}

  {% if paginator.previous_page %}
  <link rel="prev" href="{{ site.url }}{{ paginator.previous_page_path }}">
  {% endif %}
  {% if paginator.next_page %}
  <link rel="next" href="{{ site.url }}{{ paginator.next_page_path }}">
  {% endif %}
  {%- if page.layout == home -%}
    <link rel="canonical" href="{{ site.url }}">
  {%- elsif page.layout != home -%}
    <link rel="canonical" href="{{ site.url }}{{ page.url }}">
  {%- endif -%}

  <link rel="stylesheet" href="/assets/css/style.css">
  <title>{{ page.title }} | {{ site.title }}</title>
</head>