<article class="post">
  <a href="{{ post.url }}" class="post__img">
    {%- if post.image -%}
      <img src="{{ site.url }}/img/{{ post.image }}" alt="Изображение статьи" title="Изображение статьи">
    {%- endif -%}
  </a>
  <h2 class="post__title">
    <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
  </h2>
  <div class="post__meta">
    <i class="fas fa-calendar-day"></i>
    <span>{{ post.date | date: '%d.%m.%Y в %H:%M' }},</span>
    <i class="fas fa-key"></i>
    {%- for cat in site.data.navigation.category -%}
      {%- if cat.link == post.category -%}
        <span><a href="{{ site.url }}/category/{{ post.category }}">{{ cat.name }}</a></span>
      {%- endif -%}
    {%- endfor -%}
  </div>
  <div class="post__content">
    {{ post.excerpt }}
  </div>
</article>