<aside class="sidebar">
  <nav class="sidebar__item">
    <h3 class="sidebar__title">Категории</h3>
    <ul class="cat-list">
      <li>
        <a href="#">
          Category
        </a>
        </li>
      <li>
        <a href="#">
          Category
        </a>
        </li>
    </ul>
  </nav>
  <div class="sidebar__item">
    <h3 class="sidebar__title">Канал в Telegram</h3>
    <span class="tlgrm-icon">
      <i class="fab fa-telegram"></i>
    </span>
      <a href="#">Подписывайся</a>
  </div>
</aside>