<aside class="sidebar">
  <nav class="sidebar__item">
    <h3 class="sidebar__title">Категории</h3>
    <ul class="cat-list">
      {%- for cat in site.data.navigation.category -%}
      <li>
        <a href="{{ site.url }}/category/{{ cat.link }}">
          {{ cat.name }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </nav>
  <div class="sidebar__item">
    <h3 class="sidebar__title">Канал в Телеграме</h3>
    <span class="tlgrm-icon">
      <i class="fab fa-telegram"></i>
    </span>
    <a href="{{ site.socials.tlgrm }}" rel="external">Подписывайся</a>
  </div>
</aside>