.pagination {
  display: flex;
  color: var(--gray);
  margin: 0 -.4rem;

  &__list {
    display: flex;
    list-style: none;
    padding: 0;
  }

  &__item {
    background-color: var(--blue);
    width: 2.2rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 .4rem;
    box-shadow: var(--shadow);
    transition: .2s color, .2 background-color;

    &:hover,
    &:focus {
      color: #fff;
      background-color: var(--violet);
    }

    &[disabled] {
      background-color: var(--violet);
      color: #fff;   
    }
  }

  &__nav {
    width: auto;
    padding: 0 1em;
  }
}