.post {
  background-color: #fff;
  box-shadow: var(--shadow);
  padding: 1.5rem 3.75rem;
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  width: calc(560px + 7.5rem);

  &__title {
    font-size: 1.5em;
    line-height: 1.14em;
    margin-top: 1.14em;
    margin-bottom: .2em;
    transition: .2s color;

    a {
      &:hover,
      &:focus {
        color: var(--blue);
      }
    }
  }

  &__meta {
    font-size: 16px;
    opacity: .5;
    line-height: 2em;
    margin-bottom: .8em;

    span {
      margin: 0 6px 0 4px;
    }
  }

  &__content {
    line-height: 32px;
    max-width: 100%;
     
    #contents ol {
      list-style: none;
      padding-left: 0;
    }

    .contents-hr {
      color: var(--blue);
    }

    a {
      color: var(--blue);

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }

  &__img {
    display: block;
    height: 200px;
    margin: -1.5rem -3.75rem 1.5rem -3.75rem;
    overflow: hidden;
    background-image: var(--gradient);

    img {
      height: 100%;
      object-fit: cover;
      transition: .3s transform;
    }

    &:hover,
    &:focus {
      img {
        transform: scale(1.2);
      }
    }
  }
}

@media screen and (max-width: 1171px) {
  .post {
    padding: 1.5rem 2rem;
    margin-bottom: 2rem;
    width: calc(560px + 4rem);
  }
}

@media screen and (max-width: 1024px) {
  .post {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .post {
    margin-bottom: 1.5rem;
  }
}

@media screen and (max-width: 576px) {
  .post {
    padding: 1rem 1.5rem;
  }
}
