.scroll-up-btn {
  position: fixed;
  display: none;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 100vh;
  font-size: 2rem;
  transition: .2s background-color;
  z-index: 2;

  &:hover,
  &:focus {
    background-color: rgba(0, 0, 0, .1);
  }
}

@media screen and (max-width: 1244px) {
  .scroll-up-btn {
    max-width: calc(100vw - 1172px + 1.5rem);
  }
}

@media screen and (max-width: 1172px) {
  .scroll-up-btn {
    max-width: 2rem;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  .scroll-up-btn {
    display: none;
  }
}