.scroll-up-btn {
  position: fixed;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 100vh;
  font-size: 2rem;

  &:hover,
  &:focus {
    background-color: rgba(0, 0, 0, .1);
  }
}

@media (max-width: 768px) {
  .scroll-up-btn {
    display: none;
  }
}