<!DOCTYPE html>
<html lang="ru">

{%- include head.html -%}

<body>
  {%- include scroll_up.html -%}
  {%- include header.html -%}
  <main class="main">
    <div class="container">
      <div class="main-wrapper">
        {{ content }}
        
        {%- include sidebar.html -%}
      </div>
    </div>
  </main>

  {%- include footer.html -%}

  {%- if page.layout == 'post' -%}
    <script src="/assets/js/contents.js"></script>
  {%- endif -%}
  <script src="/assets/js/scroll-up.js"></script>
  <script src="/assets/js/nav.js"></script>
</body>

</html>