.container {
  padding: 0 2rem;
  position: relative;
  margin: 0 auto;
  width: auto;
  box-sizing: border-box;
}

@media screen and (min-width: 1172px) {
  .container {
    max-width: 1172px;
  }
}

@media screen and (max-width: 1171px) {
  .container {
    max-width: 1110px;
  }
}

.main {
  padding: 2.5rem 0;
}

.main-wrapper {
  display: flex;
}

@media screen and (max-width: 1024px) {
  .main {
    padding: 2rem 0;
  }

  .main-wrapper {
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0;
  }
}