.header {
  background-image: var(--gradient);

  &__nav {
    margin: 0 -1rem;
  }
  
  &__avatar {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding: 0 2rem;
    
    &__nav {
      margin: 0 -.7rem;
    }
  }
}