body {
  background-color: var(--gray);
}

a {
  color: inherit;
  text-decoration: none;
  transition: .2s color;

  &:active,
  &:visited {
    color: inherit;
  }

  &:hover,
  &:focus {
    color: var(--blue);
  }
}

img {
  width: 100%;
  vertical-align: middle;
}
